*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.i_body{
    background-color: #eae278;
    width: 100%;
    height: 100vh;
}
.i_h1{
    width: 100%;
    height: 80px;
    padding-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid #584a13;
    color: rgb(245, 245, 245);
    background-color: #f85b50;
}
.listaMenu{
    width: 99%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carro2{
    text-align: center;
}
.tarjetaMn{
    width: 28%;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid #d9d9d9;
    border-radius: 5%;
    box-shadow: 0 6px 12px 0 #2a2828;
    background-color: #ffffff;
}
.caja{
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.imagen{
    border-radius: 5%;
}
.nombre{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.valor{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.boton{
    background-color: #f46257;
    border: 1px solid #751912;
    margin-top: 1%;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.boton:hover{
    background-color: #d2271a;
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.posicionbtn{
    margin-top: 8%;
    text-align: center;
}
.cajajson{
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-radius: 5%;
    border: 1px solid black;
}
.pie{
    padding: 0.5rem;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #121211;
    color: #d9d9d9;
}































/*Login*/


.l_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(235,202,84);
    background: linear-gradient(90deg, rgba(235,202,84,1) 0%, rgba(180,135,18,1) 100%);
}
.wrapper{
    width: 45%;
    margin-left: 30%;
}
.wrapper:hover{
    box-shadow: 0 8px 16px 0 #000814;
}
.card-title{
    text-align: center;
}
.left{
    width: 45%;
}
.right{
    width: 55%;
}
.imgLogin{
    width: 100%;
    height: 100vh;
}

